@import "tailwindcss";

:root {
  --tabColor1: #219ebc;
  --tabColor2: #EF476F;
  --tabColor3: #fad06e;
  --tabColor4: #00a878;
}

* {
  box-sizing: border-box;
  /* outline: 0.1px dotted red; */
  margin: 0;
  padding:0;
}

body {
  background: black
    url("../src/assets/bodyBG.jpg") no-repeat;
  background-size: cover ;
  background-position: center;
  color: rgb(0, 0, 0);
  margin: 0 0.1rem;
}

/* LOGIN PAGE */

form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 10px;
}

.login {
  padding: 1.2rem;
  margin: 0 1rem;
  /* width: 25%;
  display: flex;
  padding: 30px 40px;
  flex-direction: column;
  gap: 30px; */

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


.login > h1 {
  text-align: center;
  font-size: 2.2rem;
  color: white;
  margin-bottom: 0.7rem;
}

.login > button {
  margin-top: 1.5rem;
}

.input > input, button {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  border-radius: 10px;
  outline: none;
  border: none;
  color: white;
}

button {
  background-color: #d8354b;
  height: 40px;
  padding: 10px;
  color: white;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

/* NAVBAR */
nav {
  padding: 0.7rem 0.2rem;
}

.navbar-title {
  font-size: 1.4rem;
}

.navbar-welcomeMsg {
  width: 4.6rem;
  font-size: 1rem;
}

.logoutButton {
  padding: 0 0.8rem;
}

/* DUTY CHANGE */

.dutyChange-container {
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 1rem;
}

.dutyChangeButton {
  padding: 0 2rem 0 2rem; 
  border-radius: 0.5rem; 
  font-size: 1.5rem;
  line-height: 1.75rem; 
  font-weight: 500; 
  color: #ffffff; 
  background-color: #858ae3; 
  margin-top: 2rem; 
}

.dutyChangeButton:hover, .returnButton {
  background-color: #fb6376;
}

/* SCHEDULE PAGE */

.schedule-heading {
  margin-top: 1rem;
}

table > * {
  text-align: center;
}

.TSATab {
  background-color: var(--tabColor1);
}

.RMQTab {
  background-color: var(--tabColor2)
}

.KHHTab {
  background-color: var(--tabColor3);
}

.AllTab, .generateButton {
  background-color: var(--tabColor4);
}


.userScheduleContainer {
  margin: 2rem 0;
}

#user-schedule-table, #crew-schedule-table {
  overflow: scroll;
}